@import '../../../styles/vars';

// Sidebar ------------------------------------------
.Sidebar {
  padding: 50px 25px;
  width: 300px;
  height: 2500px;
  border: 1px solid $primaryBorderGreyColor;

  // Where we are now -------
  .WhereWeAreNow {
    height: 278px;
    text-align: center;
    border-bottom: 1px solid $primaryBorderGreyColor;

    .title {
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1.2px;
      text-transform: uppercase;

      &::after {
        content: '';
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
        width: 15px;
        height: 19px;
        border-bottom: 1px solid $primaryColor;
      }
    }

    .thumb {
      position: relative;
      margin-bottom: 20px;
      width: 100%;
      height: 125px;
      background-image: url('../../images/sidebar-shokunin-world-map-more-detail.png');
      background-position-x: center;
      background-repeat: no-repeat;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 22px;
        left: 17px;
        width: 13px;
        height: 13px;
        background-color: $primaryBg;
        border: 2px solid $primaryWhiteBg;
        border-radius: 50%;
      }
    }

    .location {
      font-size: 12px;
      letter-spacing: 0.1px;
      color: $sidebarGreyTextColor;
    }
  }

  // Hello -------
  .Hello {
    padding-top: 47px;
    height: 463px;
    text-align: center;

    & > .HellotTitle {
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $primaryColor;

      &::after {
        content: '';
        display: block;
        margin: 0 auto;
        margin-bottom: 44px;
        width: 15px;
        height: 19px;
        border-bottom: 1px solid $primaryColor;
      }
    }

    & > img {
      margin: 0 auto;
      margin-bottom: 31px;
    }

    & > .HelloName {
      display: block;
      margin-bottom: 20px;
      font-family: 'Quentin';
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.4px;
      color: $primaryColor;
    }

    .HelloText {
      margin-bottom: 56px;
      font-size: 13px;
      line-height: 2;
      color: $primaryColor;
    }

    .socialIconWrap {
      display: flex;

      .socialIconBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        background-color: $secondaryGreyBorderColor;
        border-radius: 8px;

        &:not(:last-child) {
          margin-right: 7px;
        }

        & > svg {
          fill: $primaryColor;
        }

        &:nth-child(1) svg {
          width: 14px;
          height: 14px;
        }

        &:nth-child(2) svg {
          width: 16px;
          height: 16px;
        }

        &:nth-child(3) svg {
          width: 20px;
          height: 20px;
        }

        &:nth-child(4) svg {
          width: 23px;
          height: 23px;
        }

        &:nth-child(5) svg {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  // Trending Posts -------------
  .TrendingPosts {
    padding-top: 71px;
    height: 550px;

    .title {
      display: block;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.2px;

      &::after {
        content: '';
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
        width: 15px;
        height: 19px;
        border-bottom: 1px solid $primaryColor;
      }
    }

    .thumb {
      padding: 87px 50px 0;
      width: 100%;
      height: 344px;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.25),
          rgba(47, 48, 58, 0.25)
        ),
        url('../../images/sidebar-read-more.jpg');
      background-position-x: center;
      background-repeat: no-repeat;

      & > span {
        display: block;
        margin-bottom: 72px;
        font-size: 19px;
        font-weight: 700;
        letter-spacing: 0.8px;
        line-height: 1.5;
        color: $primaryWhiteColor;
      }

      & > button {
        padding: 13px 27px;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: $primaryWhiteColor35;
        border-radius: 22px;
        color: $primaryWhiteColor;
      }
    }
  }

  // Popular Posts ---------------
  .PopularPosts {
    min-height: 360px;

    .PopularPostTitle {
      display: block;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.2px;

      &::after {
        content: '';
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
        width: 15px;
        height: 19px;
        border-bottom: 1px solid $primaryColor;
      }
    }

    .PopularPostList {
      width: 100%;
      width: 252px;
      list-style: none;

      .PopularPostItem {
        margin-bottom: 30px;
        .PopularPostLink {
          display: flex;

          .PopularPostThumb {
            width: 80px;
            height: 80px;
          }

          .PopularPostTextWrap {
            padding: 5px 0 0 20px;
            width: 170px;
            text-align: left;

            .PopularPostTopic {
              margin-bottom: 12px;
              font-size: 14px;
              font-weight: 600;
              line-height: 1.6;
              display: block;
            }

            .PopularPostDate {
              display: block;
              font-size: 11px;
              letter-spacing: 0.5px;
              text-transform: uppercase;
              color: $sidebarGreyTextColor;
            }
          }
        }
      }
    }
  }

  // Categories
  .Categories {
    padding-top: 63px;
    height: 335px;

    .CategoryBtn {
      display: block;
      width: 100%;
      height: 56px;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      background-color: $secondaryGreyBorderColor;
      border-radius: 13px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &:hover,
      &:focus,
      &:active {
        color: $primaryWhiteColor;
        background-color: $primaryBg;
      }
    }
  }

  // Instagram
  .Instagram {
    padding-top: 59px;
    width: 248px;
    height: 463px;

    .InstagramTitle {
      display: block;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.2px;

      &::after {
        content: '';
        display: block;
        margin: 0 auto;
        margin-bottom: 31px;
        width: 15px;
        height: 19px;
        border-bottom: 1px solid $primaryColor;
      }
    }

    .InstagramImageWrap {
      display: flex;
      flex-wrap: wrap;
      height: 250px;

      .InstagramThumb {
        width: 119px;
        height: 119px;

        &:not(:nth-child(2n)) {
          margin-right: 10px;
        }

        &:not(:nth-last-child(-n + 2)) {
          margin-bottom: 10px;
        }
      }
    }

    // Follow me
    .InstagramFollowMe {
      padding-top: 15px;

      .InstagramFollowMeLink {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        font-family: 'Quentin';
        font-size: 18px;

        & > svg {
          margin-right: 18px;
          width: 17px;
          height: 17px;
          fill: $primaryColor;
        }
      }
    }
  }
}
