@import './vars';

@font-face {
  font-family: 'Quentin';
  src: local('Quentin'), url('../fonts/Quentin/Quentin.otf') format('truetype');
  font-weight: 400;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $primaryWhiteBg;

  p {
    font-family: 'Open Sans', sans-serif;
  }

  a {
    color: $primaryColor;
  }
}
