h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  font-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
