// Colors
$primaryColor: #2c2d2f;
$secondaryColor: #94999b;

$primaryBorderGreyColor: #d8dee0;
$secondaryGreyBorderColor: #f1f1f1;
$primaryPostTextColor: #5b5d5f;
$sidebarGreyTextColor: #9ca1a3;
$footerGreyTextColor: #c5c7c9;

$primaryWhiteColor: #ffffff;
$primaryWhiteColor70: #ffffffb3;
$primaryWhiteColor35: #ffffff59;
$primaryWhiteColor15: #ffffff26;

// Bgs
$primaryBg: #2c2d2f;
$primaryWhiteBg: #ffffff;
$footerBg: #f3f3f3;

// Borders
$headerBorderColor: #f0f0f0;
